---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection
  title="Maximiza tu Éxito Comercial con nuestra Auditoría Gratuita de Presencia en Línea"
  id="intro"
>
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Bienvenido a ContigoMaryland, tu aliado digital. Entendemos los desafíos que
    las empresas locales enfrentan en la era digital. Nuestro objetivo es
    transformar tu presencia en línea y sistema de atención al cliente,
    elevándolos a nuevos niveles. ¡Comienza tu viaje digital con una auditoría
    gratuita de tu presencia en línea!
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="#contact"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="human-greeting-proximity" class="h-8" />
      <span>Solicita tu Auditoría Gratuita Ahora</span>
    </a>
    <a
      href="https://astro.new/luispug"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="account-group" class="h-8" />
      <span>Lo Que Dicen Nuestros Clientes</span>
    </a>
  </div>
</ContentSection>

<ContentSection title="¿Por qué elegir ContigoMaryland?" id="first-section">
  <p>
    ¿Estás cansado de quedarte atrás de tus competidores? ¿Anhelas una ventaja
    que impulse tu negocio hacia el éxito sin precedentes? ¡No busques más! Nos
    especializamos en ofrecer soluciones digitales integrales adaptadas
    precisamente a tus necesidades. Como expertos en el campo, entendemos la
    importancia del dominio bilingüe para aprovechar el mercado hispano-latino
    en constante crecimiento. Nuestro equipo es competente tanto en inglés como
    en español, asegurando que tu mensaje resuene y conecte profundamente con tu
    público objetivo como nunca antes.
  </p>
</ContentSection>
